.ship {
  background-color: $ship-color;
  border-radius: $ship-border-radius;
  @include center-content;

  &--carrier {
    width: calc($cell-W * 5);
    height: $cell-H;
  }

  &--battleship {
    width: calc($cell-W * 4);
    height: $cell-H;
  }

  &--cruiser, &--submarine {
    width: calc($cell-W * 3);
    height: $cell-H;
  }

  &--destroyer {
    width: calc($cell-W * 2);
    height: $cell-H;
  }
}
