@import '../sass/base/variables.module';

.board {
  display: grid;
  grid-template-columns: repeat($board-size, $cell-size);
  grid-template-rows: repeat($board-size, $cell-size);
  gap: 5px;
  margin: 20px auto;
  border: 2px solid $primary-color;
}

.board--opponent {
  border-color: $secondary-color;
}
